<link rel="stylesheet" href="/stylesheets/home.css">

<h1>{{ message }}</h1>


<!-- 	<a href="/kids">Kids Account</a>

	<a href="/adult">Adult Account</a> -->


<!-- <ul> -->
<div id="homepage">
  {{#each userData}}
    <!-- <li> -->
      <a id="account" href="/usermovies/{{ user_id }}">{{ user_name }}</a>
    <!-- </li> -->
  {{/each}}
<!-- </ul> -->
</div>
