
a {
	color: white;
}

.movieTitles {
	font-size: 21px;
    text-decoration: none;
    float: left;
    clear: both;
}

body {
background: black;
	height: 100vh;
	color: white;
}

div {
	padding: 50px;
}

video {
	width: 80%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#textCon {
	width: 80%;
    margin: 0 auto;
}
